In [1]:
from sklearn import svm
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.preprocessing import RobustScaler

In [2]:
df = pd.read_excel('./최종 데이터 그래프그리기용.xlsx') 
print(df)

      Sample_ID GROUP  COHORT SEX  AGE     Trait FitbitOX      Fitbit_ID  HTN  \
0         S0001   SMI       2   M   60  fitbit_O        O  sevrance00001  NaN
1         S0002   SMI       2   M   61  fitbit_O        O  sevrance00002  NaN
2         S0003   SMI       2   F   52  fitbit_O        O  sevrance00003  NaN
3         S0004   SMI       2   F   41  fitbit_O        O  sevrance00004  NaN
4         S0005   SMI       2   F   41  fitbit_O        O  sevrance00005  NaN
..          ...   ...     ...  ..  ...       ...      ...            ...  ...
383  MetS_S0280  MetS       1   F   24  fitbit_O        O   gnfmmets+139  NaN
384  MetS_S0281  MetS       1   F   44  fitbit_O        O   gnfmmets+140  NaN
385  MetS_S0282  MetS       1   F   37  fitbit_O        O   gnfmmets+141  1.0
386  MetS_S0283  MetS       1   M   51  fitbit_X        X              X  NaN
387  MetS_S0284  MetS       1   F   42  fitbit_X        X              X  NaN

      DM  ...  BDI_Q13_2 BDI_Q14_2  BDI_Q15_2  BDI_Q16_2 BDI_Q17_2 BDI_Q18_2  \
0    NaN  ...        1.0       1.0        1.0        2.0       1.0       1.0
1    1.0  ...        1.0       1.0        1.0        1.0       2.0       1.0
2    NaN  ...        1.0       1.0        1.0        1.0       1.0       1.0
3    NaN  ...        2.0       2.0        2.0        2.0       2.0       2.0
4    NaN  ...        2.0       1.0        2.0        2.0       2.0       1.0
..   ...  ...        ...       ...        ...        ...       ...       ...
383  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
384  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
385  1.0  ...        NaN       NaN        NaN        NaN       NaN       NaN
386  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
387  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN

     BDI_Q19_2  BDI_Q20_2  BDI_Q21_2  Diet_2
0          2.0        1.0        2.0     2.0
1          1.0        1.0        1.0     2.0
2          1.0        2.0        4.0     1.0
3          1.0        1.0        1.0     2.0
4          1.0        2.0        1.0     2.0
..         ...        ...        ...     ...
383        NaN        NaN        NaN     NaN
384        NaN        NaN        NaN     NaN
385        NaN        NaN        NaN     NaN
386        NaN        NaN        NaN     NaN
387        NaN        NaN        NaN     NaN

[388 rows x 3527 columns]

In [37]:
psqi_df=df[['Sample_ID','GROUP','COHORT','SEX','AGE','TG_1','FatPercentage _1','BMI_1','PSQI_TOTAL_1','TG_2','FatPercentage_2','BMI_2','PSQI_TOTAL_2']]

psqi_df=df[['Sample_ID','GROUP','COHORT','SEX','AGE','Insulin _1','FatPercentage _1','TG_1','BMI_1','AST_1','BUN_1',
            'PSQI_TOTAL_1','PSQI_C1_1','PSQI_C2_1','PSQI_C3_1','PSQI_C4_1','PSQI_C5_1','PSQI_C6_1','PSQI_C7_1','PSQI_Q1_1','PSQI_Q2_1','PSQI_Q3_1','PSQI_Q4_1',
            'PSQI_Q5a_1','PSQI_Q5b_1','PSQI_Q5c_1','PSQI_Q5d_1','PSQI_Q5e_1','PSQI_Q5f_1','PSQI_Q5g_1','PSQI_Q5h_1','PSQI_Q5i_1','PSQI_Q5j_1','PSQI_Q6_1','PSQI_Q7_1','PSQI_Q8_1','PSQI_Q9_1',
              'Insulin _2','FatPercentage_2','TG_2','BMI_2','AST_2','BUN_2','PSQI_TOTAL_2','PSQI_C1_2','PSQI_C2_2','PSQI_C3_2','PSQI_C4_2','PSQI_C5_2','PSQI_C6_2','PSQI_C7_2','PSQI_Q1_2','PSQI_Q2_2','PSQI_Q3_2','PSQI_Q4_2',
            'PSQI_Q5a_2','PSQI_Q5b_2','PSQI_Q5c_2','PSQI_Q5d_2','PSQI_Q5e_2','PSQI_Q5f_2','PSQI_Q5g_2','PSQI_Q5h_2','PSQI_Q5i_2','PSQI_Q5j_2','PSQI_Q6_2','PSQI_Q7_2','PSQI_Q8_2','PSQI_Q9_2']]

In [38]:
psqi_df

,Sample_ID,GROUP,COHORT,SEX,AGE,TG_1,FatPercentage _1,BMI_1,PSQI_TOTAL_1,TG_2,FatPercentage_2,BMI_2,PSQI_TOTAL_2
0,S0001,SMI,2,M,60,81,15.0,21.110190,8.0,75.0,15.9,20.161264,7.0
1,S0002,SMI,2,M,61,106,29.5,27.782064,4.0,101.0,27.9,27.673957,8.0
2,S0003,SMI,2,F,52,231,39.1,24.944742,3.0,183.0,36.7,24.823651,4.0
3,S0004,SMI,2,F,41,94,29.1,22.620489,6.0,78.0,30.9,22.392684,6.0
4,S0005,SMI,2,F,41,70,24.6,20.524157,10.0,42.0,26.8,20.722731,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,MetS_S0280,MetS,1,F,24,51,34.4,34.803410,5.0,NaN,NaN,NaN,NaN
384,MetS_S0281,MetS,1,F,44,104,43.8,30.903615,3.0,NaN,NaN,NaN,NaN
385,MetS_S0282,MetS,1,F,37,128,35.8,28.676533,3.0,NaN,NaN,NaN,NaN
386,MetS_S0283,MetS,1,M,51,163,26.8,24.549738,5.0,NaN,NaN,NaN,NaN
387,MetS_S0284,MetS,1,F,42,90,32.6,24.605921,3.0,NaN,NaN,NaN,NaN

In [39]:
#보조 호르몬 요법을 받고 있는 Cohort 3 제거 Filter 적용
psqi_df = psqi_df[(psqi_df['COHORT'] != 3)]
psqi_df

,Sample_ID,GROUP,COHORT,SEX,AGE,TG_1,FatPercentage _1,BMI_1,PSQI_TOTAL_1,TG_2,FatPercentage_2,BMI_2,PSQI_TOTAL_2
0,S0001,SMI,2,M,60,81,15.0,21.110190,8.0,75.0,15.9,20.161264,7.0
1,S0002,SMI,2,M,61,106,29.5,27.782064,4.0,101.0,27.9,27.673957,8.0
2,S0003,SMI,2,F,52,231,39.1,24.944742,3.0,183.0,36.7,24.823651,4.0
3,S0004,SMI,2,F,41,94,29.1,22.620489,6.0,78.0,30.9,22.392684,6.0
4,S0005,SMI,2,F,41,70,24.6,20.524157,10.0,42.0,26.8,20.722731,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,MetS_S0280,MetS,1,F,24,51,34.4,34.803410,5.0,NaN,NaN,NaN,NaN
384,MetS_S0281,MetS,1,F,44,104,43.8,30.903615,3.0,NaN,NaN,NaN,NaN
385,MetS_S0282,MetS,1,F,37,128,35.8,28.676533,3.0,NaN,NaN,NaN,NaN
386,MetS_S0283,MetS,1,M,51,163,26.8,24.549738,5.0,NaN,NaN,NaN,NaN
387,MetS_S0284,MetS,1,F,42,90,32.6,24.605921,3.0,NaN,NaN,NaN,NaN

In [40]:
psqi_df=psqi_df.dropna()
psqi_df.reset_index(drop=True, inplace=True)
psqi_df.isnull().sum()
psqi_df=psqi_df.drop(["Sample_ID", "GROUP", "COHORT"],axis=1)
#1분, 매일다름, 정해진간이없음 삭제

In [41]:
psqi_df.describe()

,AGE,TG_1,FatPercentage _1,BMI_1,PSQI_TOTAL_1,TG_2,FatPercentage_2,BMI_2,PSQI_TOTAL_2
count,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000,232.000000
mean,42.310345,107.495690,29.932500,23.831518,5.482759,103.646552,29.259914,23.465187,5.297414
std,13.322125,84.582397,7.100389,4.558874,3.066317,57.387836,7.187338,3.471133,2.887860
min,20.000000,38.000000,13.100000,15.231576,0.000000,27.000000,11.500000,15.409809,0.000000
25%,31.000000,62.000000,24.500000,20.974248,3.000000,64.000000,24.500000,20.854508,3.000000
50%,40.000000,86.000000,29.850000,23.572013,5.000000,87.000000,29.000000,23.291113,5.000000
75%,56.000000,126.000000,34.525000,25.574806,7.000000,127.000000,33.975000,25.475270,7.000000
max,68.000000,936.000000,49.800000,67.500000,16.000000,432.000000,48.300000,37.274750,16.000000

In [42]:
#<150 (정상) : 0
#150~199 (약간 높음 - 체중감량과 운동요법) : 1
#200~499 (높음 - 생활요법과 함께 약물치료 고려) : 2
#>500 (아주 높음 - 즉시 약물치료) : 3

psqi_df["TG_1"] = psqi_df["TG_1"].apply(lambda x: 0 if x<150 else 1 if 150<=x<=199 else 2 if 200<=x<=499 else 3)
psqi_df["TG_2"] = psqi_df["TG_2"].apply(lambda x: 0 if x<150 else 1 if 150<=x<=199 else 2 if 200<=x<=499 else 3)

In [43]:
psqi_df["SEX"] = psqi_df["SEX"].apply(lambda x: 1 if x=='M' else 0)

psqi_df["Insulin _1"] = psqi_df["Insulin _1"].apply(lambda x: 0.1 if x=='<0.2' else 0 if x=='<0.1' else x)
psqi_df["Insulin _2"] = psqi_df["Insulin _1"].apply(lambda x: 0.1 if x=='<0.2' else 0 if x=='<0.1' else x)

In [44]:
psqi_df

,SEX,AGE,TG_1,FatPercentage _1,BMI_1,PSQI_TOTAL_1,TG_2,FatPercentage_2,BMI_2,PSQI_TOTAL_2
0,1,60,0,15.00,21.110190,8.0,0,15.9,20.161264,7.0
1,1,61,0,29.50,27.782064,4.0,0,27.9,27.673957,8.0
2,0,52,2,39.10,24.944742,3.0,1,36.7,24.823651,4.0
3,0,41,0,29.10,22.620489,6.0,0,30.9,22.392684,6.0
4,0,41,0,24.60,20.524157,10.0,0,26.8,20.722731,8.0
...,...,...,...,...,...,...,...,...,...,...
227,0,63,0,40.30,26.259585,3.0,0,39.3,24.362705,8.0
228,1,57,0,30.44,28.630719,4.0,0,25.7,27.295178,3.0
229,0,35,0,31.00,21.641274,1.0,0,29.9,20.840203,2.0
230,0,61,0,27.30,20.421366,8.0,0,29.0,20.281993,7.0
231,1,56,1,16.90,22.271653,1.0,0,13.1,22.295533,1.0

In [45]:
psqi_df['TG_1'].value_counts()

0    190
1     24
2     16
3      2
Name: TG_1, dtype: int64

In [46]:
psqi_df['TG_2'].value_counts()

0    200
2     17
1     15
Name: TG_2, dtype: int64

In [47]:
#x,y 배열 생성

Y1 = psqi_df['TG_1'].tolist()
Y2 = psqi_df['TG_2'].tolist()
Y=Y1+Y2


psqi_df_no_tg_1 = psqi_df[['BMI_1','PSQI_TOTAL_1']]
psqi_df_no_tg_2 = psqi_df[['BMI_2','PSQI_TOTAL_2']]
X1=psqi_df_no_tg_1.values
X2=psqi_df_no_tg_2.values
X=np.concatenate((X1, X2), axis=0)

X

Y

In [48]:
len(X), len(Y)

(464, 464)

In [49]:
np.random.seed(0)
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8)

x_train

x_test

y_train

y_test

In [50]:
#RBF 커널을 적용한 SVM
s=svm.SVC(kernel='rbf', gamma=50, C=0.1)
s.fit(x_train,y_train)

SVC(C=0.1, gamma=50)

In [51]:
y_pred = s.predict(x_test) # 테스트
print("예측된 라벨:", y_pred)
print("ground-truth 라벨:", y_test)

print()
print("prediction accuracy: {:.2f} %".format(np.mean(y_pred == y_test)*100)) # 예측 정확도

예측된 라벨: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
ground-truth 라벨: [1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

prediction accuracy: 84.95 %

In [13]:
#gamma=50 c=100 accuracy: 1.04 %
#gamma=50 c=0.1 accuracy: 2.08%
#특징 추가 후, gamma=50 c=0.1 accuracy: 6.85% 
    #(특징: 'SEX','AGE','Insulin _1','FatPercentage _1','TG_1','BMI_1','AST_1','BUN_1','PSQI_TOTAL_1','PSQI_C1_1','PSQI_C2_1','PSQI_C3_1','PSQI_C4_1','PSQI_C5_1','PSQI_C6_1','PSQI_C7_1','PSQI_Q1_1','PSQI_Q2_1','PSQI_Q3_1','PSQI_Q4_1','PSQI_Q5a_1','PSQI_Q5b_1','PSQI_Q5c_1','PSQI_Q5d_1','PSQI_Q5e_1','PSQI_Q5f_1','PSQI_Q5g_1','PSQI_Q5h_1','PSQI_Q5i_1','PSQI_Q5j_1','PSQI_Q6_1','PSQI_Q7_1','PSQI_Q8_1','PSQI_Q9_1')