In [1]:
from sklearn import svm
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('./최종 데이터 그래프그리기용.xlsx') 
print(df)

      Sample_ID GROUP  COHORT SEX  AGE     Trait FitbitOX      Fitbit_ID  HTN  \
0         S0001   SMI       2   M   60  fitbit_O        O  sevrance00001  NaN
1         S0002   SMI       2   M   61  fitbit_O        O  sevrance00002  NaN
2         S0003   SMI       2   F   52  fitbit_O        O  sevrance00003  NaN
3         S0004   SMI       2   F   41  fitbit_O        O  sevrance00004  NaN
4         S0005   SMI       2   F   41  fitbit_O        O  sevrance00005  NaN
..          ...   ...     ...  ..  ...       ...      ...            ...  ...
386  MetS_S0280  MetS       1   F   24  fitbit_O        O   gnfmmets+139  NaN
387  MetS_S0281  MetS       1   F   44  fitbit_O        O   gnfmmets+140  NaN
388  MetS_S0282  MetS       1   F   37  fitbit_O        O   gnfmmets+141  1.0
389  MetS_S0283  MetS       1   M   51  fitbit_X        X              X  NaN
390  MetS_S0284  MetS       1   F   42  fitbit_X        X              X  NaN

      DM  ...  BDI_Q13_2 BDI_Q14_2  BDI_Q15_2  BDI_Q16_2 BDI_Q17_2 BDI_Q18_2  \
0    NaN  ...        1.0       1.0        1.0        2.0       1.0       1.0
1    1.0  ...        1.0       1.0        1.0        1.0       2.0       1.0
2    NaN  ...        1.0       1.0        1.0        1.0       1.0       1.0
3    NaN  ...        2.0       2.0        2.0        2.0       2.0       2.0
4    NaN  ...        2.0       1.0        2.0        2.0       2.0       1.0
..   ...  ...        ...       ...        ...        ...       ...       ...
386  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
387  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
388  1.0  ...        NaN       NaN        NaN        NaN       NaN       NaN
389  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN
390  NaN  ...        NaN       NaN        NaN        NaN       NaN       NaN

     BDI_Q19_2  BDI_Q20_2  BDI_Q21_2  Diet_2
0          2.0        1.0        2.0     2.0
1          1.0        1.0        1.0     2.0
2          1.0        2.0        4.0     1.0
3          1.0        1.0        1.0     2.0
4          1.0        2.0        1.0     2.0
..         ...        ...        ...     ...
386        NaN        NaN        NaN     NaN
387        NaN        NaN        NaN     NaN
388        NaN        NaN        NaN     NaN
389        NaN        NaN        NaN     NaN
390        NaN        NaN        NaN     NaN

[391 rows x 3527 columns]

In [11]:
psqi_df=df[['Sample_ID','GROUP','COHORT','SEX','AGE','Insulin _1','Insulin _2','FatPercentage _1','FatPercentage_2','TG_1','TG_2','BMI_1','BMI_2','AST_1','AST_2','BUN_1','BUN_2',
            'PSQI_TOTAL_1','PSQI_TOTAL_2','PSQI_C1_1','PSQI_C2_1','PSQI_C3_1','PSQI_C4_1','PSQI_C5_1','PSQI_C6_1','PSQI_C7_1','PSQI_Q1_1','PSQI_Q2_1','PSQI_Q3_1','PSQI_Q4_1',
            'PSQI_Q5a_1','PSQI_Q5b_1','PSQI_Q5c_1','PSQI_Q5d_1','PSQI_Q5e_1','PSQI_Q5f_1','PSQI_Q5g_1','PSQI_Q5h_1','PSQI_Q5i_1','PSQI_Q5j_1','PSQI_Q6_1','PSQI_Q7_1','PSQI_Q8_1','PSQI_Q9_1',
           'PSQI_C1_2','PSQI_C2_2','PSQI_C3_2','PSQI_C4_2','PSQI_C5_2','PSQI_C6_2','PSQI_C7_2','PSQI_Q1_2','PSQI_Q2_2','PSQI_Q3_2','PSQI_Q4_2',
            'PSQI_Q5a_2','PSQI_Q5b_2','PSQI_Q5c_2','PSQI_Q5d_2','PSQI_Q5e_2','PSQI_Q5f_2','PSQI_Q5g_2','PSQI_Q5h_2','PSQI_Q5i_2','PSQI_Q5j_2','PSQI_Q6_2','PSQI_Q7_2','PSQI_Q8_2','PSQI_Q9_2']]

In [11]:
psqi_df

,Sample_ID,GROUP,COHORT,SEX,AGE,TG_1,TG_2,PSQI_TOTAL_1,PSQI_TOTAL_2
0,S0001,SMI,2,M,60,81,75.0,8.0,7.0
1,S0002,SMI,2,M,61,106,101.0,4.0,8.0
2,S0003,SMI,2,F,52,231,183.0,3.0,4.0
3,S0004,SMI,2,F,41,94,78.0,6.0,6.0
4,S0005,SMI,2,F,41,70,42.0,10.0,8.0
...,...,...,...,...,...,...,...,...,...
386,MetS_S0280,MetS,1,F,24,51,NaN,5.0,NaN
387,MetS_S0281,MetS,1,F,44,104,NaN,3.0,NaN
388,MetS_S0282,MetS,1,F,37,128,NaN,3.0,NaN
389,MetS_S0283,MetS,1,M,51,163,NaN,5.0,NaN
390,MetS_S0284,MetS,1,F,42,90,NaN,3.0,NaN

In [12]:
#보조 호르몬 요법을 받고 있는 Cohort 3 제거 Filter 적용
psqi_df = psqi_df[(psqi_df['COHORT'] != 3)]
psqi_df

,Sample_ID,GROUP,COHORT,SEX,AGE,TG_1,TG_2,PSQI_TOTAL_1,PSQI_TOTAL_2
0,S0001,SMI,2,M,60,81,75.0,8.0,7.0
1,S0002,SMI,2,M,61,106,101.0,4.0,8.0
2,S0003,SMI,2,F,52,231,183.0,3.0,4.0
3,S0004,SMI,2,F,41,94,78.0,6.0,6.0
4,S0005,SMI,2,F,41,70,42.0,10.0,8.0
...,...,...,...,...,...,...,...,...,...
386,MetS_S0280,MetS,1,F,24,51,NaN,5.0,NaN
387,MetS_S0281,MetS,1,F,44,104,NaN,3.0,NaN
388,MetS_S0282,MetS,1,F,37,128,NaN,3.0,NaN
389,MetS_S0283,MetS,1,M,51,163,NaN,5.0,NaN
390,MetS_S0284,MetS,1,F,42,90,NaN,3.0,NaN

In [13]:
psqi_df=psqi_df.dropna()
psqi_df.reset_index(drop=True, inplace=True)
psqi_df.isnull().sum()

Sample_ID       0
GROUP           0
COHORT          0
SEX             0
AGE             0
TG_1            0
TG_2            0
PSQI_TOTAL_1    0
PSQI_TOTAL_2    0
dtype: int64

In [14]:
#x,y 배열 생성

X1=psqi_df['PSQI_TOTAL_1'].tolist()
X2=psqi_df['PSQI_TOTAL_2'].tolist()
Y1=psqi_df['TG_1'].tolist()
Y2=psqi_df['TG_2'].tolist()

X1 = [[x] for x in X1]
X2 = [[x] for x in X2]

X=X1+X2
Y=Y1+Y2

In [15]:
len(X), len(Y)

(480, 480)

In [8]:
np.random.seed(0)
x_train,x_test,y_train,y_test=train_test_split(X,Y,train_size=0.8)

x_train

x_test

y_train

y_test

In [11]:
s=svm.SVC(gamma=50, C=100)
s.fit(x_train,y_train)

SVC(C=100, gamma=50)

In [12]:
y_pred = s.predict(x_test) # 테스트
print("예측된 라벨:", y_pred)
print("ground-truth 라벨:", y_test)

print()
print("prediction accuracy: {:.2f} %".format(np.mean(y_pred == y_test)*100)) # 예측 정확도

예측된 라벨: [ 56. 114. 114.  58.  61.  88.  56.  72.  56.  74.  56.  61. 114.  56.
  46.  74.  58.  61.  56.  72.  56.  66.  56.  66.  56.  72.  56. 114.
  56.  88.  72.  66.  56.  56.  72.  72.  56.  58.  56.  61.  58.  56.
  72.  46.  58.  56.  46.  46.  56. 114.  46.  61.  61.  56.  88. 114.
  56.  56.  56. 114.  87.  58.  56.  88.  61. 114.  83.  56.  56.  88.
  74.  56.  56.  58.  56.  72.  61.  56.  46.  56.  58.  74.  61.  94.
  56.  56.  46.  61.  46.  58.  74. 114.  56.  72.  46.  72.]
ground-truth 라벨: [92, 400, 178, 213.0, 64, 151, 44.0, 733.0, 69, 157, 145.0, 71, 127.0, 98.0, 73.0, 124, 61, 61, 57.0, 51.0, 88.0, 129, 79.0, 175, 104.0, 49.0, 184, 76.0, 234.0, 77.0, 90.0, 113, 62.0, 79.0, 143.0, 63, 42.0, 75.0, 65.0, 104.0, 45, 51, 104.0, 120.0, 144, 106, 91.0, 101.0, 59.0, 76, 86, 126, 136.0, 51, 167, 61, 62, 84.0, 73.0, 51.0, 81.0, 61.0, 60.0, 120.0, 110, 62, 114.0, 80, 112.0, 81.0, 228, 59, 121.0, 92, 47.0, 75.0, 86.0, 86, 109, 45, 161, 145, 72.0, 57, 67, 56.0, 65, 142.0, 201, 53.0, 228, 74.0, 67.0, 78, 217.0, 51]

prediction accuracy: 2.08 %

In [13]:
#gamma=50 c=100 accuracy: 1.04 %
#gamma=50 c=0.1 accuracy: 2.08%